/* колір основного тексту #212121*/
/* вторинний колір тексту rgba(117, 117, 117, 1) */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* вторинний колір фона #F5F4FA */
/* колір контактів #757575 */






/* Лого */



/* Hero */





/* Модальнне вікно */



/* Checkbox modal  */


/* Button-modal */



/* Section Переваги */


/* Section Що робимо */



/* Section Наша команда */




/* Regular customers */


/* Footer */


/* Footer social */


/* Підписка у футері */





/* Що робимо */
/* Кнопки навігації */
.project {
  padding: 94px 0;
  background-color: var(--color-white);
  border: 1px solid var(--border-color-portfolio);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.btn__buttons {
  cursor: pointer;

  padding: 6px 22px;

  color: var(--primary-text-color);

  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__buttons:hover,
.btn__buttons:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Наші проекти */
.container-portfolio {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 30px 30px;
}

.portfolio__card-link {
  display: block;
  width: 370px;
  height: 404px;
  border: 1px solid var(--border-color-portfolio);
  text-decoration: none;
}
.portfolio__card-link:hover .card-thumb__portfolio-overlay,
.portfolio__card-linkk:focus {
  transform: translateY(0);
  opacity: 1;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-thumb {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.card-thumb__photo-portfolio {
  display: block;
  margin-bottom: 0;
}

.card-thumb__portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: var(--background-color-card);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__thumb-text {
  padding: 63px 24px;
  margin: 0;
  width: 100%;
  max-height: 294px;
  color: var(--color-white);

  font-size: 18px;
  line-height: 1.56;
}

.card-thumb__aside-subject {
  padding: 0 24px;

  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-thumb__subject {
  padding: 0 24px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.88;
}
