/* колір основного тексту #212121*/
/* вторинний колір тексту rgba(117, 117, 117, 1) */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* вторинний колір фона #F5F4FA */
/* колір контактів #757575 */






/* Лого */



/* Hero */





/* Модальнне вікно */



/* Checkbox modal  */


/* Button-modal */



/* Section Переваги */


/* Section Що робимо */



/* Section Наша команда */




/* Regular customers */


/* Footer */


/* Footer social */


/* Підписка у футері */





/* Що робимо */
/* Кнопки навігації */


/* Наші проекти */
/* .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
} */



