// Форма.
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--background-color-modal);
    opacity: 1;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .backdrop__modal {
    transform: translate(-50%, -50%) scale(1.2);
}

.backdrop__modal {
    position: absolute;
    max-width: 528px;
    min-height: 581px;
    left: 50%;
    top: 50%;
    padding: 40px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);

    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop__title-modal {
    margin-top: 0%;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--primary-text-color);
}

// Форма контактів.
.contact-form {
    width: 448px;
}

.contact-form__form-label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--text-color);
}

.contact-form__form-field {
    position: relative;
    margin-bottom: 10px;
}


.contact-form__form-input {
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 42px;
    border: 1px solid var(--background-color-modal);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.contact-form__form-input:focus {
    border-color: var(--accent-color);
}


.contact-form__modal-icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: currentColor;
}

.contact-form__form-input:focus+.contact-form__modal-icon {
    fill: var(--accent-color);
}

.contact-form__form-coment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    columns: var(--text-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    border: 1px solid var(--background-color-modal);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.contact-form__form-coment:focus {
    border-color: var(--accent-color);
}

.contact-form__form-coment::placeholder {
    color: var(--color-text-coment);
}