// Кнопка героя.
.button {
    min-width: 216px;
    padding: 10px 32px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--color-white);
    background-color: var(--accent-color);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    color: var(--color-white);
    background-color: var(--background-color-button);
}

// Кнопка закриття модального вікна.
.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    fill: var(--color-logo);
    border-radius: 50%;
    background-color: var(--color-white);
    border: 1px solid var(--background-color-modal-btn);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.button-close:hover {
    fill: var(--accent-color);
}

// Кнопка модального вікна.
.button-modal {
    display: flex;
    min-width: 200px;
    padding: 10px 52px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--color-white);
    background-color: var(--accent-color);
    text-align: center;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
    color: var(--color-white);
    background-color: var(--background-color-button);
}