// Section-job.
.job-section {
    padding: 94px 0;
    text-align: center;


&__work-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--primary-text-color);

    font-size: 36px;
    line-height: 1.17;
}
}

// Список робот.
.work-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

& {
    @extend %list;
}


&__photo-work:last-child {
    margin-right: 215px;
}

&__photo-work:first-child {
    margin-left: 215px;
}
}